// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here.
.log__in a,
.shopping__cart a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px; }

.header__right .log__in a i {
  color: #666666;
  font-size: 20px; }
.header__right .shopping__cart {
  margin-left: 13px;
  padding-left: 13px;
  padding-right: 12px;
  position: relative; }
  .header__right .shopping__cart::before {
    background: #d50c0d;
    content: "";
    height: 12px;
    left: 0;
    position: absolute;
    top: 45%;
    width: 1px; }
  .header__right .shopping__cart a i {
    color: #666666;
    font-size: 20px; }
  .header__right .shopping__cart .shop__qun {
    background: #d50c0d none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    height: 22px;
    line-height: 19.5px;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 23%;
    width: 22px; }
    .header__right .shopping__cart .shop__qun span {
      font-size: 12px;
      font-weight: 700; }

.sticky__header.is-sticky {
  animation: 0.4s ease-in-out 0s normal both 1 running fadeInDown;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  left: 0;
  position: fixed;
  top: 0;
  transition: box-shadow 0.5s ease-in-out 0s;
  width: 100%;
  z-index: 998;
  background: #fff; }
.wrapper {
	background-color:#f3f3f3
}
.product_box{
	border: 1px solid #ebebeb;
    border-radius: 4px;
    background: white;
}
.navbar-brand img{
	height: auto;
    width: 64px;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
	color: $primary;
	font-family: 'Londrina Solid', cursive;
	font-weight: 400;

}
.carousel-item.active img {
    width: 100%;
}
.nav-link, a.dropdown-item {
    font-family: 'Londrina Solid', cursive;
    font-size: 1.2rem;
    text-transform: uppercase;
	letter-spacing: 2px;
	color:$primary;
}
a.dropdown-item:hover{
	color: #e34802;
}

.dropdown:hover .dropdown-menu{
	display: block;
}
span.navbar-toggler-icon {
    background-image: url('assets/hamburger7.svg?color=fd7335')
}

button.navbar-toggler {
    border: 1px solid #fd7335;
}

a:hover{text-decoration: none;}

.understrap-read-more-link {
	color: $primary;
	font-family: 'Londrina Solid', cursive;
	font-size: 1rem;
    letter-spacing: .1rem;
    background-color:$dark;
    border-color: $dark;
}
.understrap-read-more-link:hover{
	color: $dark;
	font-family: 'Londrina Solid', cursive;
	font-size: 1rem;
    letter-spacing: .1rem;
    background-color:$primary;
    border-color: $primary;
}

.special-sauce {
    background: $dark;
    color: white;
    padding: 20px;
}

#wrapper-hero img {
    width: 100%;
    background-size: cover;
}
.row li {
    list-style: none;
}
.footer{
	background-color: $dark !important;
	color: #fff;
}
.bottom-footer{
	background-color:$primary !important;
	color: $dark;
}

a.woocommerce-LoopProduct-link.woocommerce-loop-product__link img {
  width: 100%;
}
ul.wc-item-meta {
    display: none;
}